[submodule "vcpkg"]
	path = vcpkg
	url = git@github.com:microsoft/vcpkg.git
[submodule "Strife.Engine"]
	path = Strife.Engine
	url = git@github.com:Strife-AI/Strife.Engine.git
	branch = main
[submodule "Strife.ML"]
	path = Strife.ML
	url = git@github.com:Strife-AI/Strife.ML.git
[submodule "Strife.Common"]
	path = Strife.Common
	url = git@github.com:Strife-AI/Strife.Common.git
